@import "../../styles/variables.scss";

.container {
  margin-top: 4rem;

  color: $font-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 20px 0;
  max-width: 400px;
  width: 100%;
  height: 100px;

  margin-bottom: 2rem;

  background: #fff;
  border-radius: 10px;
  border: 1px solid $border-primary;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  h3 {
    text-align: center;
    color: $font-primary;
    font-size: 1.5rem;
    margin-bottom: 2px;
  }

  p {
    color: $font-secondary;
    font-size: 0.8rem;
    text-align: center;
  }

  input,
  select {
    width: 100%;
    margin-top: 5px;

    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
  }

  hr {
    margin-top: 10px;
  }
}
.card-container-text {
  width: 60%;
}

.twoCards {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.calcularBtn {
  width: 10rem;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: $border-primary;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: darken($border-primary, 10%);
  }
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-result {
  margin: 0 auto;
  position: absolute;
  top: 55%;
  max-width: 800px;
  min-height: 300px;
  padding: 0 10px;

  background: #fff;
  border-radius: 10px;
  border: 1px solid $border-primary;

  h2 {
    color: $font-primary;
    text-align: center;
    margin: 5px 0;
  }
}

/* style.scss */

.tabela-resultado {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 6px;
  text-align: center;
}

.tabela-resultado th,
.tabela-resultado td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-resultado th {
  background-color: #f2f2f2;
}

.tabela-resultado tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
