@import "../../styles/variables.scss";

.container {
  margin-top: 4rem;

  color: $font-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 20px 0;
  max-width: 400px;
  width: 100%;
  height: 150px;
  margin-bottom: 2rem;

  background: #fff;
  border-radius: 10px;
  border: 1px solid $border-primary;
  box-shadow: 0px 10px 22px -3px rgba(0, 0, 0, 0.1),
    0px 10px 30px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    text-align: center;
    color: $font-primary;
    font-size: 1.5rem;
    margin-bottom: 2px;
  }

  p {
    color: $font-secondary;
    font-size: 0.8rem;
    text-align: center;
  }

  input,
  select {
    width: 100%;
    margin-top: 5px;

    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
  }

  hr {
    margin-top: 10px;
  }
}
.card-container-text {
  width: 60%;
}

.twoCards {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.calcularBtn {
  width: 14rem;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: $border-primary;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 600ms;

  &:hover {
    background: transparent;
    color: $border-primary;
    border: 1px solid $border-primary;
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.LimparBtn {
  width: 14rem;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: $border-primary;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 600ms;

  &:hover {
    background: transparent;
    color: $border-primary;
    border: 1px solid $border-primary;
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-result {
  margin-top: 2rem;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
  padding: 0 10px;

  background: #fff;
  border-radius: 10px;
  border: 1px solid $border-primary;
  box-shadow: 0px 10px 22px -3px rgba(0, 0, 0, 0.1),
    0px 10px 30px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: $font-primary;
    text-align: center;
    margin: 5px 0;
  }
}

.exportarBtn {
  text-align: right;
  background: transparent;
  border: none;
  cursor: pointer;

  img {
    height: 20px;
    width: 20px;
  }
}

.titleResult {
  display: flex;
  flex-direction: column;
}

.buttonExport {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
/* style.scss */

.tabela-resultado {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 6px;
  text-align: center;
}

.tabela-resultado th,
.tabela-resultado td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.tabela-resultado th {
  background-color: #f2f2f2;
  font-size: 0.8rem;
}

.tabela-resultado tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  table {
    display: block;
    width: 100%;
  }

  table thead {
    display: none;
  }

  table tbody {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  table tbody tr {
    display: flex;
    width: 45%;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
  }

  table tbody tr td {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .card {
    gap: 10px;
    margin-bottom: 20px;
    input {
      width: 80%;
    }
  }

  .twoCards {
    flex-direction: column;
    width: 90%;
    gap: 0;
  }

  .result-container {
    width: 90%;
  }
}
