@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700;9..40,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  background: #f5f5f5;
  background-image: url("/src/assets/png/designer_1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}

@media (max-width: 1000px) {
  body {
    background-image: none;
  }
}
